.defaultHero,
.hero {
  min-height: calc(100vh - 95px);
  background: url('https://i.ibb.co/XCHTMs3/backgroundacea.jpg') center/cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 575px) {
  .defaultHero {
    min-height: calc(70vh - 70px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
