.defaultHero,
.hero {
  /* min-height: calc(100vhvh - 95px); */
  background: url('https://i.ibb.co/XCHTMs3/backgroundacea.jpg') center/cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 550px;
}

@media only screen and (max-width: 1520px) {
  .defaultHero {
    height: 575px;
  }
}

@media only screen and (max-width: 575px) {
  .defaultHero {
    min-height: calc(70vh - 70px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {
  .defaultHero {
    min-height: calc(56vh - 56px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
  }
}

@media only screen and (device-width: 375px) {
  .defaultHero {
    min-height: calc(68vh - 56px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
  }
}
