.defaultHero,
.hero {
  /* min-height: calc(100vhvh - 95px); */
  background: url('https://i.ibb.co/XCHTMs3/backgroundacea.jpg') center/cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 550px;
}

@media screen and (max-width: 1520px) {
  .defaultHero {
    height: 575px;
  }
}

@media screen and (max-width: 575px) {
  .defaultHero {
    min-height: calc(70vh - 70px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .defaultHero {
    min-height: calc(56vh - 56px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
  }
}

@media screen and (device-width: 375px) {
  .defaultHero {
    min-height: calc(95vh - 56px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
  }
}

@media screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .defaultHero {
    min-height: calc(56vh - 56px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .defaultHero {
    min-height: calc(71vh - 56px);
    background: url(https://i.ibb.co/hMqrmZT/background.jpg) center/cover
      no-repeat;
  }
}
