.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky !important;
  position: -webkit-sticky;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  align-items: center;
  z-index: 100;
  box-shadow: 0 4px 2px -2px grey;
}

.logo-container {
  height: 100%;
  width: 80px;
  padding: 0px;
  margin-left: 38px;
  margin-top: 7px;
}
.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 10px;
}

.option {
  padding: 10px 15px;
  color: #033148;
}

.option:hover {
  color: #f9c82e;
}

@media screen and (max-width: 575px) {
  .options {
    width: 68%;
    margin-right: 15px;
    margin-bottom: -20px;
    font-size: 14px;
    font-weight: 900;
  }

  .option {
    padding: 7px 6px;
    margin-right: 0px;
  }

  .logo-container {
    width: 70px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 7px;
  }

  .header {
    height: 75px;
  }
}

@media screen and (max-width: 420px) {
  .options {
    width: 68%;
    margin-right: 15px;
    margin-bottom: -20px;
    font-size: 14px;
    font-weight: 900;
  }

  .logo-container {
    width: 70px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 7px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    width: 100%;
  }

  .options {
    width: 68%;
    margin-right: 15px;
    margin-bottom: -20px;
    font-size: 14px;
    font-weight: 900;
  }

  .logo-container {
    width: 70px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 7px;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .options {
    width: 70%;
    margin-right: 5px;
  }
}
