.register {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 25px;
}

.register h5 {
  color: #f9c82e;
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: white;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.MuiGrid-spacing-xs-1 {
  width: calc(95% + 8px);
  margin: -4px;
}

@media only screen and (max-width: 1520px) {
  .div.MuiCardPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    max-width: 1455px;
    padding: 20px 5px;
    margin: 0px auto;
  }

  /* .element.style {
    max-width: 1455px;
    padding: 20px 5px;
    margin: 0px auto;
  }  */
  /* 
  .register-form {
    max-width: 1455px;
  } */
}

/* .register-form {
  max-width: 120px;
  padding: 20px 5px;
  margin: 0 auto;
  margin-bottom: 100px;
} */
