body {
  font-family: 'Roboto', sans-serif;
  padding: 0 !important;
  margin: 0 auto !important;

  @media screen and (max-width: 800px) {
    padding: 0;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .root {
    scroll-behavior: auto;
  }
}
